<%- include("header"); -%>

<div class="box" id="heading">
<h1><%= title %></h1>
</div>
<div class="box">
   	<% items.forEach(function(item){ %>
   	<form action="/delete" method="POST">
	   	<div class="item">
	   		<input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
	   		<p><%= item.name %></p>
	  	</div>
	  	<input type="hidden" name="listname" value="<%= title %>"></input>
  	</form>
    <% }) %>
<form class="item" action="/" method="POST">
   	<input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
    <button class="btn" type="submit" name="list" value="<%= title %>">+</button>
</form>
</div>
<div class="del">
<form action="/deletelist" method="POST">
	<button class="delbtn" style="display:<%= display %>;" type="submit" name="dellist" value="<%= title %>">Delete List</button>
</form>
</div>

<%- include("footer"); -%>
